# Swift Playgrounds
timeline.xctimeline

# Project Settings
xcuserdata/

# Carthage
Carthage/

# CocoaPods
Pods/

# Jazzy
build/
docs/undocumented.json
docs/docsets/SpotifyKit.docset/Contents/Resources/Documents/undocumented.json
